@import "./fonts.css";
@import "./reset.css";
@import "./modules/primary-styles.css";
@import "./modules/header.css";
@import "./modules/course.css";
@import "./modules/article-box.css";
@import "./modules/swiper.css";
@import "./modules/footer.css";

/* home starts */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("./../assets/images/home-page/bg-test2.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background var(--transitoin);
}
:root.dark .home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("./../assets/images/home-page/bg-test2.jpg") no-repeat center center;
  background-size: cover;
}

.home__title {
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 7rem;
  padding: 0 2rem;
  text-align: center;
  line-height: 1.5;
}
/* categories */
.home__swiper-container{
  width: 90%;
  height: 10rem;
}
.home__swiper-container .swiper-slide{
 height: 10rem;
  display: grid;
  place-items: center ;
}
.home__category-container {
  margin: -1rem;
}
.second-row {
  margin-right: 4rem !important;
}
.home__category {
  display: block;
  position: relative;
  width: 10rem;
  height: 10rem;
  color: var(--text-color);
  cursor: pointer;
  transition: var(--transition);
  margin: -0.2rem;
}
.home__category-hexagon {
  fill: var(--section-bg);
  width: 100%;
  height: 100%;
  transition: var(--transition);
  stroke: var(--gray);
}
.home__category-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.home__category-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.home__category-title {
  font-size: 1.2rem;
}
.home__category:hover .home__category-hexagon {
  fill: var(--dark-green);
}
/* hexagon different fills */
.home__category:has(
    .home__category-hexagon--blue,
    .home__category-hexagon--purple,
    .home__category-hexagon--brown,
    .home__category-hexagon--orange
  ) {
  color: #fff;
}
.home__category-hexagon--purple {
  fill: #a459d1;
}
.home__category-hexagon--brown {
  fill: #815b5b;
}
.home__category-hexagon--blue {
  fill: #068fff;
}
.home__category-hexagon--orange {
  fill: #fe6244;
}
/* home ends */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.articles {
  background-color: var(--bg-gray);
  padding: 1rem;
  border-radius: 1rem;
}

.articles__title {
  font-family: "Persian Titraj";
  font-size: 3rem;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.articles__title::before,
.articles__title::after {
  position: absolute;
  content: "";
  background-color: var(--red);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
}
.articles__title::before {
  width: 0.2rem;
  height: 130%;
  right: -0.5rem;
  rotate: 2deg;
}
.articles__title::after {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.4;
  animation: horizontal-moving 5s linear infinite forwards alternate;
  z-index: -1;
}
@keyframes horizontal-moving {
  from {
    right: 0;
  }
  to {
    right: 8rem;
  }
}
.articles__caption {
  letter-spacing: 2px;
  margin: 2rem 0;
  line-height: 1.7;
}
.articles__link {
  justify-content: center;
  gap: 0.5rem;
  width: 15rem;
  margin: 0 auto;
}
