@import "./fonts.css";
@import "./reset.css";
@import "./modules/primary-styles.css";
@import "./modules/footer.css";
@import "./modules/mouse-follower.css";


/*stroy*/
.story__img {
  height: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  /* padding: 0 4rem; */
  position: relative;
}
.story__img img {
  border-radius: 1rem;
}
.story__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px dashed var(--green);
  border-radius: inherit;
  z-index: -1;
  left: .5rem;
  top: .5rem;
}
.story__caption {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.story-boxes {
  margin-bottom: 1rem;
}

.story-box {
  display: flex;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  gap: 2rem;
  align-items: center;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  width: 16rem;
  cursor: pointer;
  transition: var(--transition);
}
.story-box:hover {
  transform: translateY(-0.5rem);
}

.story-box svg {
  font-size: 4rem;
}

.story__link {
  background-color: var(--green);
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-size: 1.4rem;
  color: #fff;
}
/*story ends*/

/* offers starts */
.offers {
  padding: 10rem 0;
  background: url("./../assets/images/about-us/offers-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.offers-title {
  color: var(--yellow);
}
.offers-boxes {
  margin-top: 4rem;
}
.offer-box {
  text-align: center;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--section-bg);
  margin-bottom: 1.5rem;
}
.offer-box__icon {
  font-size: 4rem;
}
.offer-box__title {
  font-size: 1.7rem;
  margin: 1rem 0;
}
.offer-box__caption {
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 20rem;
  margin: auto;
  color: var(--gray);
}
/* offers ends */

/* teachers starts */
.teachers {
  margin: 5rem 0;
}
.teachers__link {
  background-color: var(--purple);
  color: #fff;
  border-radius: 10rem;
  padding: 0.7rem 1.8rem;
}

.teacher {
  background-color: var(--section-bg);
  border-radius: 2rem;
  /* box-shadow: var(--box-shadow); */
}
.teacher__img {
  display: block;
  height: 20rem;
  border-radius: 2rem;
  overflow: hidden;
}
.teacher__info {
  text-align: center;
  padding: 2rem;
}
.teacher__name {
  font-weight: bold;
}
.teacher__carrier {
  margin: 1.5rem 0;
  color: var(--gray);
}
.teacher__socials {
  display: flex;
  justify-content: center;
}
.teachers__social {
  background-color: var(--orange);
  margin: 0 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px var(--orange);
  transition: var(--transition);
}
.teachers__social:hover {
  scale: 1.2;
}

.teachers__social svg {
  font-size: 1.3rem;
}

/*teachers swiper starts*/
.teachers__swiper {
  position: relative;
  padding: 5rem 0;
}
.swiper-pagination-bullets {
  /* background-color: var(--red); */
  position: absolute;
  bottom: 1rem !important;
}

.swiper-pagination-bullet {
  background-color: var(--gray);
}
.swiper-pagination-bullet-active {
  background-color: var(--orange);
  width: 3rem;
  border-radius: 10rem;
  transition: var(--transition);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: var(--red);
}
/*teachers swiper ends*/
/* teachers ends */

/* faq starts */

/* faq starts */
.faq{
  margin: 5rem 0;
}
.faq__accordion .accordion-item {
  background-color: var(--section-bg);
  margin-bottom: 1.5rem;
  color: var(--text-color);
  border: 0;
  box-shadow: 1px 1px 10px var(--purple);
  border-radius: 2rem;
}
.faq__accordion .accordion-header{
  padding: 2rem;
}
.faq__accordion .accordion-button {
  font-size: 2rem;
  font-family: "Persian Titraj";
  padding: 0;
  border: 0 !important;
  color: var(--title-color);
  box-shadow: none;
  border-radius: 2rem;
  background-color: var(--section-bg) !important;
}
.faq__accordion .accordion-button::after{
  background-image: url("./../assets/svg/plus-icon.svg");
  width: 2rem;
  height: 2rem;
  background-size: cover;
}
.faq__accordion .accordion-button:not(.collapsed)::after{
  background-image: url("./../assets/svg/minus-icon.svg");
}
.faq__accordion .accordion-button:focus {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none;
}
.faq__accordion .accordion-button:focus::after{

}
.faq__accordion .accordion-body{
  color: var(--gray);
  line-height: 1.5;
  font-size: 1.3rem;
  padding: 2rem;
}
/* faq ends */

/* faq ends */
