@import "./fonts.css";
@import "./reset.css";
@import "./modules/primary-styles.css";
@import "./modules/header.css";
@import "./modules/course-box.css";
@import "./modules/custom-input.css";
@import "./modules/footer.css";

/* bootstrap resizing */

/* restyling modules starts */
.custom-input__label,
.custom-input__input {
  background-color: var(--section-bg);
}
.custom-input__input {
  padding-left: 4rem;
}
.custom-input .search-button {
  position: absolute;
  color: var(--purple);
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* restyling modules ends */

/* category starts */
.category-container {
  position: sticky;
  top: 2rem;
}
.category-courses__header,
.category {
  background-color: var(--section-bg);
  padding: 2.5rem 2rem;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 1rem var(--purple);
  margin-bottom: 2rem;
}
.category__title {
  font-family: var(--title-font);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.category__options {
  max-height: 15rem;
  overflow: auto;
  direction: ltr;
  text-align: right;
  padding-right: 1rem;
}
.category__options::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent;
  border: 1px solid var(--red);
  border-radius: 10rem;
}
.category__options::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 10rem;
}
.category__option {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
/* category ends */

/* category filtering starts */
.category__filtering {
  position: fixed;
  z-index: -1;
  right: 0;
  left: 0;
  bottom: -50rem;
  padding: 5rem 2rem;
  background-color: var(--app-bg);
  box-shadow: var(--box-shadow);
  height: 50rem;
  overflow: auto;
  transition: all var(--transition);
}
.category__filtering.open {
  bottom: 0;
}
.category__filtering::-webkit-scrollbar {
  width: 0.7rem;
  background-color: var(--purple);
}
.category__filtering::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

@media (min-width: 768px) {
  .category__filtering {
    position: static;
    background-color: transparent;
    height: auto;
    padding: 0;
    overflow: visible;
  }
}
.category__filtering-close-btn {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  cursor: pointer;
}
/* category filtering ends */

/* category courses starts */
.category-courses {
  /* z-index: 0;
  position: relative; */
}
.category-courses__header {
  padding: 1rem 2rem;
  position: sticky;
  top: 2rem;
  z-index: 1;
}

.category-courses__title {
  font-family: var(--title-font);
  font-size: 4rem;
}

.advanced-filtering__button {
  display: flex;
  color: var(--purple);
  background-color: #97a5ff66;
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
}

.advanced-filtering-button__title {
  display: none;
}
@media (min-width: 390px) {
  .advanced-filtering-button__title {
    display: block;
  }
}

/* category courses ends */
