@import "./fonts.css";
@import "./reset.css";
@import "./modules/primary-styles.css";
@import "./modules/footer.css";
@import "./modules/custom-input.css";
@import "./modules/mouse-follower.css";


body{
  direction: ltr;
}

.login-img {
  position: relative;
}

.login-img::before {
  position: absolute;
  content: "";
  width: 300%;
  height: 14rem;
  background-color: var(--light-gray);
  top: 30%;
  z-index: -1;
  rotate: 45deg;
  right: -50rem;
  border-radius: 100rem;
}

.login {
  min-height: 100vh;
  overflow: hidden;
}


.login-title {
  font-family: "Persian Titraj";
  font-size: 4.5rem;
  color: var(--blue);
}
.login-form {
  margin: auto;
  max-width: 40rem;
  font-size: 1.3rem;
}

.login-form__options {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  align-items: center;
}

.login-form__remember-me {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-form__forgot-password {
  color: var(--purple);
  font-size: 1.3rem;
  transition: color var(--transition);
}
.login-form__forgot-password:hover {
  color: var(--yellow);
}

.login-form__btn {
  color: #fff;
  background-color: var(--blue);
  width: 100%;
  height: 4.5rem;
  border-radius: 10rem;
  font-size: 1.8rem;
}

.footer {
  direction: rtl;
}

@media (min-width: 360px) {
  .login-form__options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
  }
}

@media(min-width:768px){
    /* .login-img{
        height: 100vh;
    } */
}