.course-box {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  color: var(--gray);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  position: relative;
  background-color: var(--section-bg);
  transition: var(--transition);
}
.course-box svg {
  width: 1.5rem;
}

.course-box__discount-percentage {
  position: absolute;
  display: grid;
  place-content: center;
  background-color: var(--dark-green);
  color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  top: 1rem;
  right: 1rem;
  box-shadow: var(--box-shadow);
}
.course-box__info {
  padding: 1rem 1rem;
}
.course-box__name {
  height: 3.5rem;
  display: -webkit-box;
  width: auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--title-color);
}
.course-box__price {
  padding: 1rem;
  border: 1px dashed var(--gray);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-box__shopping-cart-icon {
  display: grid;
  place-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--red);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fff;
  transition: all var(--transition);
}
.course-box__shopping-cart-icon:hover {
  border-radius: 50%;
}
.course-box__shopping-cart-icon svg {
  width: 2rem;
}
.course-box__current-price {
  color: var(--green);
  font-size: 1.5rem;
}
.course-box__old-price {
  color: var(--gray);
  font-size: 1.3rem;
  margin-left: 1rem;
  position: relative;
}
.course-box__old-price::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: var(--red);
  top: 50%;
  transform: translateY(-50%) rotate(-5deg);
}

.course-box__time,
.course-box__teacher-name {
  margin-right: 0.3rem;
}
.course-box__ratings .fa-star {
  width: 1.5rem;
  color: var(--yellow);
}

.course-box__discount-time {
  font-size: 1.4rem;
}

.course-box__discount-seconds {
  color: var(--red);
}
.course-box__discount-minutes,
.course-box__discount-hours,
.course-box__discount-days {
  color: var(--blue);
}
