/* nav starts */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #00000099;
  color: var(--text-color);
  border-radius: 10rem;
  position: sticky;
  top: 2rem;
}

.hamburger-menu {
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.hamburger-menu__line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: var(--light-gray);
  position: relative;
}
.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.hamburger-menu__line::before {
  top: -0.7rem;
}
.hamburger-menu__line::after {
  bottom: -0.7rem;
}

.nav__logo {
  flex: 1;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -20rem;
  background-color: var(--app-bg);
  width: 20rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
  transition: right var(--transition);
}

.nav-menu--open {
  right: 0;
}
.nav-sub-menu {
  display: none;
}

.nav-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  transition: color var(--transition);
  cursor: pointer;
  padding: 0 1rem;
}
.nav-menu__item--active {
  color: var(--yellow);
}
.nav-menu__item:hover {
  color: var(--yellow);
}
.nav-menu__icon {
  width: 2rem;
}
.nav-menu__link {
  width: 100%;
  display: block;
  font-size: 1.3rem;
  padding: 1.5rem 0.5rem 1.5rem 2.5rem;
}

.nav-menu__arrow-down {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  color: inherit;
}

.nav__options {
  display: flex;
}

.nav__icon {
  color: var(--yellow);
}

.login-signup-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  /* padding: 0.7rem 1rem; */
  border-radius: 0.4rem;
  position: relative;
  color: var(--yellow);
  font-size: 1.4rem;
  transition: all var(--transition);
  padding: 0.2rem 0.5rem;
}

.login-signup-btn:hover {
  color: var(--yellow);
  background-color: #fed7aa1a;
}

.login-signup-btn::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 100%;
  background-color: var(--light-gray);
  opacity: 0.4;
  right: -1rem;
}
.login-signup-btn svg {
  transform-origin: center;
  transform: rotate(180deg);
  margin-left: 0.5rem;
}

/* nav ends */

/* responsive starts */

@media (max-width: 576px) {
  .nav__icon {
    width: 2rem;
  }
}

@media (min-width: 992px) {
  .nav {
    padding: 0.5rem 2rem;
  }
  .nav-menu {
    position: static;
    background: transparent;
    color: var(--light-gray);
  }
  .hamburger-menu {
    display: none;
  }
  .nav__logo {
    flex: 0;
  }

  .nav-menu {
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-right: 1rem;
    box-shadow: none;
    padding: 0;
  }

  .nav-menu__arrow-down {
    left: 1.3rem;
  }

  .nav-sub-menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 2rem;
    padding: 1rem 0;
    width: 17rem;
    border-radius: 1rem;
    border-top: 0.5rem solid var(--yellow);
    transition: opacity var(--transition);
    background-color: var(--app-bg);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  }
  .nav-menu__item {
    padding: 0;
  }

  .nav-menu__item:hover .nav-sub-menu {
    opacity: 1;
    visibility: visible;
  }
  .nav-sub-menu__link {
    display: block;
    padding: 1rem 0.8rem;
    color: var(--title-color);
    transition: all var(--transition);
    font-size: 1.3rem;
  }
  .nav-sub-menu__link:hover {
    color: var(--gray);
  }
}
/* responsive ends */
