:root {
  --app-bg: #f9f9f9;

  /* colors */
  --title-color: #3f3f46;
  --text-color: #52525b;

  --green: #0d9488;
  --light-yellow: #fed7aa93;
  --yellow: #fed7aa;
  --yellow-stars: #facc15;
  --light-gray: #d1d5db;
  --gray: #9ca3af;
  --red: #f87171;

  /* transitions */
  --transition: 250ms ease-in-out;
}

:root.dark {
  --app-bg: #3f3f46;

  /* colors */
  --title-color: #fff;
  --text-color: #f9f9f9;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Vasir";
  font-size: 1.6rem;
  color: var(--title-color);
  background-color: var(--app-bg);
  transition: background-color var(--transition);
}

svg {
  width: 2.5rem;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
