.account-side-bar {
  position: sticky;
  top: 8rem;
}

/* menu starts */
.menu {
  background-color: var(--section-bg);
  padding: 1rem;
  border-radius: var(--border-radius);
  transition: background-color var(--transition);
  box-shadow: var(--box-shadow);
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
  margin: 0.5rem 0;
  color: var(--purple);
  border-radius: var(--border-radius);
  transition: all var(--transition);
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--bg-purple);
}
.menu-item--active {
  background-color: var(--bg-purple);
}
.menu-icon {
  font-size: 2rem;
}
.menu-item a {
  padding: 1rem 0;
  font-size: 1.3rem;
  flex-grow: 1;
}
/* menu ends */
